.header {
    width: 98%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__matrix {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    border: none;
}

@media (max-width: 1000px) {
    .header__matrix {
        height: max-content;
    }
    .header__link {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .header__matrix {
        height: 350px;
    }
}

@media (max-width: 730px) {
    .header__nav-menu {
        display: flex;
        flex-direction: column;
        min-height: 350px;
        gap: 5px;
        font-size: 40px;
    }
    .header__link {
        font-size: 40px;

    }
}

@media (max-width: 400px) {
    .header__matrix {
        height: 250px;
    }
}

.header__nav-menu {
    width: 100%;
    height: 100px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-bottom: 1px white groove;
}

.header__link {
    text-decoration: none;
    color: white;
    transition-duration: 500ms;
    width: max-content;
}

@keyframes header__link-blink {
    0.01% {
        opacity: 0;

    }
    50% {
        opacity: 0;
        color: red;
    }
    50.01% {
        opacity: 1;
    }
}

.header__link:hover {
    scale: 1.2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition-duration: 100ms;
    animation: header__link-blink 1s linear infinite;
}


.unHide {
    display: none;
}

.header__link:hover .unHide {
    display: block;
    transition-duration: 500ms;
}
