@font-face {
    font-family: 'Anonymous Pro';
    src: url('./app/fonts/AnonymousPro-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Anonymous Pro", monospace;
    font-weight: initial;
}

body, html, #root {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.main-content {
    padding: 20px;
    width: 100%;
}

